.hr-login-c{
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.hr-login-b{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #d0cecf;
}
.hr-login-b .top{
  height: 45%;
  text-align: center;
}
.hr-login-b .row1{
  height: 100px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.hr-login-b .row2{
  height: 100px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.hr-login-b img{
  height: 64px;
  width: 64px;
}