
/*
全局通用css
*/
.hr-toolbar-bg{
  --background: linear-gradient(-134deg, #3AB6D6 0%, #1A68C4 100%);
}
.hr-toolbar-text{
  font-size: 1.8rem;
  color: #FFFFFF;
  // letter-spacing: -0.34px;
  text-align: center;
}