<ion-header>
  <ion-toolbar class="hr-toolbar-bg">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" style="color: white">
        <ion-icon [name]="'arrow-back'" [mode]="'md'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="hr-toolbar-text">新增请假条</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="function-content">
  <List>
    <ListItem 
      [thumb]="'https://zos.alipayobjects.com/rmsportal/dNuvNrtqUztHCwM.png'" 
      [arrow]="'horizontal'"
      (onClick)="onClick()"
    >
      My wallet
    </ListItem>
    <app-hrselect-item
      [type]="'alert'"
      [code]="'alert_leavetype'"
      [title]="'请输入标题'"
      [arrow]="'horizontal'"
      [extra]="'extra content深度；熟练地开始；的离开深度；了是；龙多靠'"
    >
    </app-hrselect-item>
    <ListItem 
      [thumb]="'https://zos.alipayobjects.com/rmsportal/dNuvNrtqUztHCwM.png'" 
      [arrow]="'horizontal'"
    >
    My wallet
  </ListItem>
  </List>
</ion-content>