.hrmobile-toolbar-bg{
  //style="background: url(assets/images/toubujianbianbeijing.png) no-repeat center;"
  background: url(/assets/images/toubujianbianbeijing.png) no-repeat center;
  background-size: 100%;
}

.hrmobile-toolbar-text {
  font-size: 1.8rem;
  color: #FFFFFF;
  // letter-spacing: -0.34px;
  text-align: center;
}